body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    margin: 0;
    color: rgba(39, 32, 68, 0.288);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 5px;
    text-transform: uppercase;
}

header {
    background-image: linear-gradient(rgba(18, 9, 0, 0.916), rgba(196, 230, 246, 0.057)) ,url(media/island-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 90px 10px;
    text-align: center;
    color: white;
    border-radius: 20px 20px 0 0
}

header h4 {
    text-transform: uppercase;
    padding-top: 50px;
    margin-bottom: 0;
}

header h1 {
    margin: 0;
}

header p{
    margin: 10px 0 30px;
}

header a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

header a:hover {
    background-color: #012e55;
    color: white;
}

section {
    max-width: 100%;
    background-color: #f0f0f0;
}

footer {
    background-image: linear-gradient(rgba(34, 34, 1, 0.193), rgba(2, 15, 23, 0.916), rgba(1, 13, 28, 0.972)), url(media/footer-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #012e55;
    color: white;
    border-radius: 0 0 20px 20px;
}

footer h3 {
    color: white;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid-2-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px 50px;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.flex-column-container h2 {
    margin: 0;
    font-family: Poppins;
    font-weight: 700;
    font-size: 30px;
}

.flex-column-container p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
}

.footer-grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    gap: 20px;
    padding: 20px 40px;
    font-size: 14px;
}

.footer-grid-item ul, li, a{
    list-style: none;
    text-decoration: none;
    color: white;
    padding-left: 3px;
    font-weight: 200;
}

.footer-grid-item a {
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.footer-grid-item a:hover {
    color: #c4e6f6;
    text-decoration: underline;
    font-weight: 300;
}

.footer-grid-item p{
    font-weight: 200;
}

.embed {
    width: 100%;
    aspect-ratio: 1 / 1;
    height: 150px;
    overflow: hidden;
}

.card-container {
    background-color: white;
    text-align: center;
    padding: 40px 50px;
}

.card-container h2 {
    margin-top: 0;
}

.card-grid {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card-grid .grid-2-column{
    padding: 0;
    gap: 0;
    margin-bottom: 15px;
}

.card {
    background-color: #f0f0f0;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 0 20px 20px;
}

.card-content h3 {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: capitalize;
    color: black;
    
}

.card-content p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    margin-top: 15px;
}

.card-content h5 {
    margin-bottom: 0;
}

.card a {
    display: flex;
    justify-content: center;
    align-content: end;
    margin-top: 20px;
    background-color: #012e55;
    padding: 10px 20px;
    border-radius: 5px;
    width: 60%;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.card a:hover {
    background-color: #ffffff;
    border: 1px solid #012e55;
    color: black;
}






@media (max-width: 768px) {
    header h1 {
        font-size: 25px;
        text-align: center;
    }

    header p {
        padding: 0 20px;
    }

    header a {
        padding: 5px 10px;
    }

    .footer-grid-container {
        grid-template-columns: 1fr;
    }

    .footer-grid-item ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer-grid-item li {
        display: inline-block;
        font-weight: 300;
        padding-right: 20px;
        text-align: center;
    }

    .grid-2-column {
        grid-template-columns: 1fr;
    }

  
    
}

@media (max-width: 990px) {
    .card-grid {
        grid-template-columns: 1fr;
    }

    .embed{
       aspect-ratio: 16 / 9;
       overflow: visible;
    }
}